#college{
    overflow: hidden;
    max-width: 65rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;

}
.collegeHead{
    font-size: 3rem;
    font-weight: 600;
    padding-top:3rem ;
    margin-bottom: 1.5rem;

}


.collegeHead:hover{
    color:rgb(223, 178, 223);
}
.collegeHistory{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(44, 42, 44);
    text-align: justify;
    border-radius: 1.5rem;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.529) 0%,rgba(60, 60, 63, 0.533) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.masters{
    
    text-align: justify;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(44, 42, 44);
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    border-radius: 1.5rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.529) 0%,rgba(60, 60, 63, 0.533) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}
.collegeHistory:hover , .masters:hover{
    background: linear-gradient(to right, rgba(237, 236, 242, 0.171) 0%,rgba(73, 80, 80, 0.533) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.IUB{
    font-weight: 950;
}
.subjects{
    font-weight: 930;
}
.subjects{
    font-weight: 930;
}