.intro{
    width: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    margin: auto;

}


.introContent{
    height: auto;
    width: 100vw;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.introPara{
    font-size: medium;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.headlink{
    font-size: medium;
    font-weight: 200;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;    
}

.introText{
    
    font-weight: 400;
    font-size: 3rem;
    margin: auto;
    position:relative;

    
}
.introText:hover {
    cursor:pointer;
    filter: drop-shadow(1px 0px 3px rgb(0, 0, 234)) ;


  }

.child{
    display: inline-flex;
    align-content:center ;
    margin: auto;
    margin-bottom: auto;
    
}
.headlink:hover{
    color:rgba(255, 206, 255, 0.634);
}